.footer {
  min-width: 290px;
  padding: 0 15px 60px 15px;
  background-color: black;
  color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 45px 60px 45px;
  }
}

.footer-nav {
  @media (min-width: $tablet-width) {
    width: 70%;
  }
}

.footer-nav__list {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    columns: 2;
    margin-bottom: 0;
  }
}

.footer-nav__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-nav__link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    color: darken($white, 30deg);
    border-bottom: 1px solid $white;
  }
}