.header {
  min-width: 290px;

  @media (min-width: $tablet-width) {
    min-width: 678px;
  }
}

.header__icon {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  text-align: center;

  & .icon {    
    font-size: 24px;
    color: $black;
    cursor: pointer;
    transition: color 0.3s;
    outline: none;
    border: 0;
    background: transparent;

    &:hover,
    &:focus {
      color: $grey;
    }
  } 
}


.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 15px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  left: 0;
  top: $header-height;
  bottom: 0;
  background: $brown;
  z-index: 10;
  transition: left 0.4s ease;

  &--closed {
    left: -100vw;
  }

  &--open {
    left: 0;
  }
}

.header__input {
  margin: 10px 15px 0 15px;
  height: 40px;
  padding: 12px 12px 12px 36px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 21px;
  background: rgba(255, 255, 255, 0.15);
  outline: none;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 27px;
  top: 22px;
  width: 16px;
}