.blog__news {
  display: flex;
  flex-direction: column;
}

.news {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 70px;
  }

  img {
    width: 290px;
    height: auto;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }

    & img {
      width: 339px;
    }
  }
}

.news__wrap {
  background-color: $cream;
  max-width: 290px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    min-width: 339px;
  }
}

.news__time {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  display: block;
  color: $grey;
  margin-top: 49px;
  margin-bottom: 25px;
}

.news__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}