@import "variables";

.faq {
  min-width: 290px;
  padding: 0 15px;
  margin-bottom: 70px;
}

.faq__list {
  border: 1px solid $brown;
}

.faq__item {
  border-bottom: 1px solid $brown;
  cursor: pointer;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: 38px;
    top: 5px;
    border-top: 1px solid $brown;
    border-right: 1px solid $brown;
    transform: rotate(-45deg);
  }

  &:last-child {
    border-bottom: 0;
  }
}

.faq__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;  
}

.faq__qeustion {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px; 
  margin: 25px;
  margin-right: 85px;  
}

.faq__answer {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;  
  margin-left: 25px;
  margin-right: 55px;
}