@import "variables";
@import "mixins";

.faq {
  @include container();
  min-width: 290px;    
  margin-bottom: 70px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }
}

.faq__list {
  border: 1px solid $brown;
}

.faq__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $brown;
  padding: 25px;  

  &:last-child {
    border-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 50px;
  }
}

.faq__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;  
}

.faq__qeustion {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;

  &::after {
    content: "+";
    font-size: 30px;
    color: $brown;    
    margin-left: auto;
    transition: 0.4s ease;  
  }

  &--active::after {
    content: "-";
  }
}

.faq__answer {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px; 
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: all 0.6s ease;  
}
