@import "variables";

.header {
  min-width: 290px;

  @media (min-width: $tablet-width) {
    min-width: 678px;
  }
}

.header__icon {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  text-align: center;

  & .icon-cart {    
    font-size: 24px;
    color: $black;
    cursor: pointer;

  }
  & .icon-menu {
    font-size: 24px;
    color: $black;
    cursor: pointer;
  }
}


.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 15px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  left: -100vw;
  top: $header-height;
  bottom: 0;
  background: $brown;
}

.header__input {
  margin: 10px 15px 0 15px;
  height: 40px;
  padding: 12px 12px 12px 36px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 21px;
  background: rgba(255, 255, 255, 0.15);
  outline: none;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 27px;
  top: 22px;
  width: 16px;
}