@import "variables";

.link {  
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;  
  color: $black;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid $brown;  
  transition: 0.3s ease-in;
 
  &:hover,
  &:focus {
    color: $white;
    background: $brown;   
  }
}