@import "variables";
@import "mixins";

.new {
  @include container();
  min-width: 290px;
  margin: 70px 15px;

  @media (min-width: $tablet-width) {
    margin: 80px 45px;
  }
}

.new__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  color: $black;
}